<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calvin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D521F07E1E3BC50E0058026C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D521F0921E3BC50E0058026C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D521F09D1E3BC50E0058026C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
